/* START OF CUSTOM CSS */


[data-elementor-type="single-page"] {
	background-color: var(--e-global-color-90f86b5);

}

/* SITEWIDE ELEMENTS */

#five9OpenChatButton {
	height: auto !important;
	background-color: #CE3510 !important;
}

/* HEADER */

.header-account-link .elementor-heading-title.elementor-size-default a {
	font-weight: 700;
}

.ghm-cart .ghm-cart-count {
    position: absolute;
    top: -16px;
    right: -5px;
    color: #064760 !important;
    background-color: #97DEF8;
    width: 18px;
    height: 18px;
    justify-content: center;
    align-items: center;
    padding-inline-start: 5px;
    font-size: 14px;
    border-radius: 999px;
}

/* ACCOUNT MENU */

.header-account-icons .elementor-widget-icon-list .elementor-icon-list-icon svg {
	width: 20px !important;
	height: auto !important;
	transform: translateY(2px);
}

.close-popup-trigger .elementor-icon-list-text img {
    transform: translateY(-2px) !important;
		width: 10px !important;
		height: 10px !important;
		margin-left: 10px !important;
}

/*
@media only screen and (max-width: 1024px) {
	.close-popup-trigger .elementor-icon-list-text img {
		width: auto !important;
		height: auto !important;
		margin-left: 2px !important;
	}
}
*/

/* COOKIE POLICY POPUP */

.cookie-policy-popup .cookie-policy-popup-wrapper .cookie-policy-popup-btn svg {
	color: #CE3510;
}

.cookie-policy-popup-btn.close {
	background-color: transparent !important;
}

.cookie-policy-popup-btn.close:hover {
	background-color: transparent !important;
}


/* SELECT ARROW DOWN (All Forms) */

.elementor-select-wrapper .select-caret-down-wrapper {
	transform: translatey(-50%) !important;
}
.elementor-select-wrapper .select-caret-down-wrapper svg {
	display: none !important;
}

.elementor-select-wrapper .select-caret-down-wrapper::before {
	content: '\25BE';
	font-size: 24px;
}

/* FOOTER */

/* .klaviyo-form.klaviyo-form.klaviyo-form {
	padding: 0 !important;
	background-color: transparent !important;
}

.needsclick .kl-private-reset-css-Xuajs1 {
	padding: 0 !important;
}

.kl-private-reset-css-Xuajs1 h1, .kl-private-reset-css-Xuajs1 h2, .kl-private-reset-css-Xuajs1 h3, .kl-private-reset-css-Xuajs1 h4, .kl-private-reset-css-Xuajs1 h5, .kl-private-reset-css-Xuajs1 h6, .kl-private-reset-css-Xuajs1 p {
	text-align: left !important;
}

@media only screen and (max-width: 1024px) {
	.kl-private-reset-css-Xuajs1 h1, .kl-private-reset-css-Xuajs1 h2, .kl-private-reset-css-Xuajs1 h3, .kl-private-reset-css-Xuajs1 h4, .kl-private-reset-css-Xuajs1 h5, .kl-private-reset-css-Xuajs1 h6, .kl-private-reset-css-Xuajs1 p {
	text-align: center !important;
}
}

.kl-private-reset-css-Xuajs1 h1 span {
	font-family: 'Antonio' !important;
	font-size: 44px !important;
	font-weight: 600 !important;
	color: #443B32 !important;
}

.kl-private-reset-css-Xuajs1 p span {
	font-family: 'Barlow' !important;
	font-size: 16px !important;
	color: #443B32 !important;
}

.kl-private-reset-css-Xuajs1 input[type=email] {
	background-color: white !important;
	padding: 15px !important;
	width: 100% !important;
	margin: 20px 0 10px 0 !important;
	border: none !important;
	border-radius: 4px !important;
}

.needsclick .kl-private-reset-css-Xuajs1 button {
	background-color: #CE3510 !important;
	border-radius: 4px !important;
	width: 100% !important;
	transition: 0.3s !important;
}

.needsclick .kl-private-reset-css-Xuajs1 button:hover {
	background-color: #9A2E14 !important;
} */

/* PAGES */

/* Consumer Privacy Request Form */

.consumer-privacy-request-form .elementor-field-option {
	margin-top: 0px;
	margin-bottom: -1px;
}

.consumer-privacy-request-form .elementor-field-type-radio .elementor-field-subgroup .elementor-field-option label {
	display: inline-block;
}

.consumer-privacy-request-form .elementor-field-option input[type="radio"] {
	display: none;
}

.consumer-privacy-request-form .elementor-field-group .elementor-select-wrapper select {
	border-color: var(--e-global-color-ba9fc32);
}

.consumer-privacy-request-form .elementor-field-option:checked {
	background-color: var(--e-global-color-ba9fc32);
}

.consumer-privacy-request-form .elementor-field-option input[type=radio]:hover + label {
	color: white;
	background-color: var(--e-global-color-ba9fc32);
	transition: 200ms;
}

.consumer-privacy-request-form .elementor-field-option input[type=radio]:checked + label {
	color: white;
	background-color: var(--e-global-color-ba9fc32);
}

.consumer-privacy-request-form .elementor-field-option label {
	padding: 15px;
	border: 1px solid var(--e-global-color-ba9fc32);
	margin-right: -10px;
}

/* HOME */

.choose-your-package-desktop input[type="radio"] {
	display: none;
}

.choose-your-package-desktop .radio_list_desktop {
	display: flex;
	justify-content: space-around;
}

.choose-your-package-desktop label {
	font-weight: 500;
	font-size:18px;
	background-color: #FEDCD4;
	padding: 8px;
	color: #9A2E14;
	border: 3px solid #FEDCD4;
}

.choose-your-package-desktop .radiobox_desktop input[type="radio"]:hover + label {
	background-color: #9A2E14;
	border: 3px solid #FB7C5E;
	color: #F6F2EE;
	transition: 200ms all;
}

.choose-your-package-desktop .radiobox_desktop input[type="radio"]:checked + label {
	background-color: #9A2E14;
	border: 3px solid #FB7C5E;
	color: #F6F2EE;
	transition: 200ms all;
}

.choose-your-package-desktop button {
	margin-top: 20px;
	margin-bottom: 20px
}


.choose-your-package input[type="radio"] {
	display: none;
}

.choose-your-package .radio_list {
	display: flex;
	justify-content: space-around;
}

.choose-your-package label {
	font-weight: 500;
	font-size:18px;
	background-color: #FEDCD4;
	padding: 8px;
	color: #9A2E14;
	border: 3px solid #FEDCD4;
}

.choose-your-package .radiobox input[type="radio"]:hover + label {
	background-color: #9A2E14;
	border: 3px solid #FB7C5E;
	color: #F6F2EE;
	transition: 200ms all;
}

.choose-your-package .radiobox input[type="radio"]:checked + label {
	background-color: #9A2E14;
	border: 3px solid #FB7C5E;
	color: #F6F2EE;
	transition: 200ms all;
}

.choose-your-package button {
	margin-top: 20px;
	margin-bottom: 20px
}

.price-div {
	display: flex;
	justify-content: center;
	align-items: center;
}

.price-number {
	color: var(--e-global-color-dca1d21);
	font-size: 50px;
	font-weight: 600;
	line-height: 65px;
	word-wrap: break-word;
}


/* Returns */

.start-return-form button {
	margin-top: 20px;
}


/* Returns FAQ */

.start-return-button {
	text-transform: capitalize;
	border-radius: 2px;
	font-weight: normal;
	padding: 8px 20px 8px 20px;
	border: none;
}

.start-return-button:hover {
	background-color: var(--e-global-color-3ba261a);
	color: var(--e-global-color-90f86b5);
	border: none;
}
.returns-faq a {
	font-size: 20px;
}


/* SHOP ALL (Featured Product Loop Item & Product Loop Item) */

.add-to-cart-button .elementor-button-content-wrapper {
	display: inline-block;
}

.add-to-cart-button .elementor-button-icon .e-font-icon-svg {
	height: auto;
}

.add-to-cart-button .elementor-button-icon .e-font-icon-svg {
	margin-right: 12px;
}

.featured-product-loop-carousel .e-loop-item * {
	word-break: normal !important;
}

/* Category Menu */

.shop-all-menu .elementor-nav-menu {
    display: flex;
    flex-direction: row;
    gap: 12px;
}

.shop-all-menu .elementor-nav-menu--main .elementor-item {
	justify-content: center;
}

.shop-all-menu .elementor-nav-menu--main .elementor-item, .e-loop-item .menu-item-object-product_cat a {
    display: flex;
    gap: 8px;
}
.shop-all-menu .menu-item-4317 {
	gap: 0px;
}

.shop-all-menu .elementor-nav-menu--main .elementor-nav-menu .elementor-item, .e-loop-item .menu-item-object-product_cat {
    border-radius: 8px;
    border: none;
  	outline: none;
		box-shadow: 
    0px 2px 5px 0px rgba(0, 0, 0, 0.15);
}


@media screen and (max-width: 767px) {
    .shop-all-menu .elementor-nav-menu {
    display: flex;
    flex-direction: column;
    gap: 12px;
}
}

.shop-all-menu .elementor-nav-menu--main .elementor-nav-menu>:last-child {
    background-color: #1C8BB4;
    border-radius: 8px;
		transition: all 200ms ease-in-out;
}

.shop-all-menu .elementor-nav-menu--main .elementor-nav-menu>:last-child:hover {
	background-color: #064760 !important;
}

.shop-all-menu .elementor-nav-menu--main .elementor-nav-menu li:last-child a {
    color: white !important;
		gap: 0px;
		margin-left: 0px;
}

.shop-all-menu .elementor-item {
	transition: all 200ms ease-in-out !important;
}

.shop-all-menu .elementor-item:hover {
    color: #CE350F !important;
}

.shop-all-menu .current-menu-item > a.elementor-item-active {
    color: #CE350F !important;
}

/* Mega Menu widget */

.shop-all-menu .premium-nav-widget-container .premium-main-nav-menu {
	flex-wrap: wrap;
	gap: 12px;
}

.shop-all-menu .premium-nav-menu-item .best-seller-icon, .shop-all-menu .premium-nav-menu-item .energy-icon, .shop-all-menu .premium-nav-menu-item .gut-health-icon, .shop-all-menu .premium-nav-menu-item .healthy-aging-icon, .shop-all-menu .premium-nav-menu-item .emergency-food-icon, .shop-all-menu .premium-nav-menu-item .bundles-icon {
	margin-right: 12px;
}

.shop-all-menu .premium-nav-widget-container .premium-main-nav-menu li {
		border: none;
		border-radius: 8px;
  	outline: none;
		box-shadow: 
    0px 2px 5px 0px rgba(0, 0, 0, 0.15);
}

/*
.shop-all-menu .premium-nav-widget-container .premium-main-nav-menu>:last-child {
    background-color: #1C8BB4;
    border-radius: 8px;
		transition: all 300ms;
}

.shop-all-menu .premium-nav-widget-container .premium-main-nav-menu li:last-child a {
    color: white !important;
}
.shop-all-menu .premium-nav-widget-container .premium-main-nav-menu>:last-child:hover {
	background-color: #064760 !important;
}
*/

.shop-all-menu .premium-nav-widget-container .premium-main-nav-menu .premium-active-item a {
	background-color: #1C8BB4 !important;
	color: #fff !important;
}

.shop-all-menu .premium-nav-widget-container .premium-main-nav-menu .premium-active-item a:hover {
	background-color: #064760 !important;
}

@media screen and (max-width: 767px) {
	.shop-all-menu .premium-mobile-menu-container {
		display: flex;
		justify-content: center;
	}
	.shop-all-menu .premium-main-nav-menu {
		max-width: 240px;
	}
	/*
	.shop-all-menu .premium-main-mobile-menu.premium-main-nav-menu > .premium-nav-menu-item > .premium-menu-link:hover {
		color: #CE350F !important;
	}
	*/
	.shop-all-menu .premium-toggle-text svg, .shop-all-menu .premium-toggle-close svg {
    transform: translate(-8px);
}
	.shop-all-menu .premium-hamburger-toggle {
		width: 240px;
		padding-bottom: 3px;
	}

}

/* Product Loop Menu */
.e-loop-item li:has([data-category="best-seller"]) {
	background-color: #FFEEC3;
}
.e-loop-item li:has([data-category="energy"]) {
	background-color: white;
}
.e-loop-item li:has([data-category="gut-health"]) {
	background-color: #B2E6F9;
}
.e-loop-item li:has([data-category="healthy-aging"]) {
	background-color: white;
}
.e-loop-item li:has([data-category="emergency-food"]) {
	background-color: #FDCBBF;
}
.e-loop-item li:has([data-category="bundles"]) {
	background-color: #F6F2EE;
}

.e-loop-item .best-seller-icon {
	viewBox: 0 0 30 30;
}

/* SHOP ALL (Featured Product Loop Item & Product Loop Item) */

.add-to-cart-button .elementor-button-content-wrapper {
	display: inline-block;
}

.add-to-cart-button .elementor-button-icon .e-font-icon-svg {
	height: auto;
}

.add-to-cart-button .elementor-button-icon .e-font-icon-svg {
	margin-right: 12px;
}

.featured-product-loop-carousel .e-loop-item * {
	word-break: normal !important;
}

/* You're Our Priority */

.youre-our-priority-form {
	background-color: #efefef;
}

.youre-our-priority-form .elementor-field-subgroup {
	margin-left: 380px;
	margin-top: -20px;
}

.youre-our-priority-form .elementor-field-option label {
	margin-left: 8px;
}

.youre-our-priority-form .elementor-field-option input {
	height: 18px;
	width: 18px;
	border-radius: 0px;
	margin-bottom: 15px;
	vertical-align: sub;
}

@media only screen and (max-width: 767px) {
	.youre-our-priority-form .elementor-field-subgroup {
		margin-left: 0;
		margin-top: 10px;
	}
}


/* Your Privacy Choices */

.your-privacy-choices-form .elementor-field-option {
	margin-top: 0px;
	margin-bottom: -1px;
}

.your-privacy-choices-form .elementor-field-type-radio .elementor-field-subgroup .elementor-field-option label {
	display: inline-block;
}

.your-privacy-choices-form .elementor-field-option input[type="radio"] {
	display: none;
}

.your-privacy-choices-form .elementor-field-group .elementor-select-wrapper select {
	border-color: var(--e-global-color-ba9fc32);
}

.your-privacy-choices-form .elementor-field-option:checked {
	background-color: var(--e-global-color-ba9fc32);
}

.your-privacy-choices-form .elementor-field-option input[type=radio]:hover + label {
	color: white;
	background-color: var(--e-global-color-ba9fc32);
	transition: 200ms;
}

.your-privacy-choices-form .elementor-field-option input[type=radio]:checked + label {
	color: white;
	background-color: var(--e-global-color-ba9fc32);
}

.your-privacy-choices-form .elementor-field-option label {
	padding: 10px;
	border: 1px solid var(--e-global-color-ba9fc32);
	margin-right: -10px;
}


/* POPUPS */

/* Sign Up & Save */

.sign-up-and-save-modal-popup button {
	margin-top: -40px;
}

.ftc-modal-popup .elementor-field-type-html {
	text-align: center;
}

/* FTC Modal Pop Up */


/* PRODUCTS */

/* Image Boxes (Morning Kick products) */

/*
.pdp-image-box .elementor-image-box-title {
margin-top: -20px;
}
*/

/* PDPs */

/* PDP Media Carousel */

.pdp-swiper.elementor-skin-slideshow .elementor-thumbnails-swiper .swiper-slide:not(.swiper-slide-active):after {
	border-radius: 4px !important;
}

.pdp-swiper.elementor-skin-slideshow .elementor-thumbnails-swiper .swiper-slide-active {
	border-radius: 4px !important;
}

.pdp-swiper .elementor-main-swiper .elementor-carousel-image {
	border-radius: 8px !important;
}

@media screen and (max-width: 767px) {
	.pdp-swiper .elementor-main-swiper .swiper-slide {
	border-radius: 4px !important;
}
	.pdp-swiper .elementor-main-swiper .elementor-carousel-image {
	border-radius: 4px !important;
}
}

/* PDP OS */

.ghm-offer-selector .button-container .add-to-cart {
	background: #CE3510;
	transition: 200ms;
}
.ghm-offer-selector .button-container .add-to-cart:hover {
	background: #9A2E14;
}

/* POWER REVIEWS STARS (TOP OF PDP) */

.p-reviews .p-w-r {
	display: flex !important;
	justify-content: center;
}

.p-reviews .pr-snippet-write-review-link, .p-reviews .pr-snippet-rating-decimal, .p-reviews .pr-snippet-stars-reco-reco {
	display: none !important;
}

.p-reviews .pr-snippet-stars-reco-inline .pr-snippet-read-and-write span, .p-reviews .p-w-r .pr-snippet-stars-reco-inline.pr-snippet-minimal .pr-snippet-read-and-write a {
	color: #3B342D !important;
}

.p-reviews .pr-snippet-stars-reco-inline .pr-snippet-read-and-write span::before, .p-reviews .p-w-r .pr-snippet-stars-reco-inline.pr-snippet-minimal .pr-snippet-read-and-write a::before {
	content: '(';
}

.p-reviews .pr-snippet-stars-reco-inline .pr-snippet-read-and-write span::after, .p-reviews .p-w-r .pr-snippet-stars-reco-inline.pr-snippet-minimal .pr-snippet-read-and-write a::after {
	content: ')';
}

.p-reviews .pr-snippet-stars-reco-inline .pr-snippet-read-and-write, .p-reviews .p-w-r .pr-snippet-stars-reco-inline.pr-snippet-minimal .pr-snippet-read-and-write {
	margin: -10px 0 -12px -10px !important;
}

@media screen and (max-width: 767px) {
	.p-reviews .p-w-r .pr-snippet .pr-snippet-stars-png .pr-star, .p-reviews .p-w-r .pr-snippet .pr-snippet-stars-png .pr-star-accessible-0-filled, .p-reviews .p-w-r .pr-snippet .pr-snippet-stars-png .pr-star-accessible-100-filled, .p-reviews .p-w-r .pr-snippet .pr-snippet-stars-png .pr-star-accessible-25-filled, .p-reviews .p-w-r .pr-snippet .pr-snippet-stars-png .pr-star-accessible-50-filled, .p-reviews .p-w-r .pr-snippet .pr-snippet-stars-png .pr-star-accessible-75-filled, .p-reviews .p-w-r .pr-snippet .pr-snippet-stars-png .pr-star-half, .p-reviews .p-w-r .pr-snippet .pr-snippet-stars-png .pr-star-selected, .p-reviews .p-w-r .pr-snippet .pr-snippet-stars-png .pr-star-v4, .p-reviews .p-w-r .pr-snippet .pr-snippet-stars-png .pr-star-v4-0-filled, .p-reviews .p-w-r .pr-snippet .pr-snippet-stars-png .pr-star-v4-100-filled, .p-reviews .p-w-r .pr-snippet .pr-snippet-stars-png .pr-star-v4-25-filled, .p-reviews .p-w-r .pr-snippet .pr-snippet-stars-png .pr-star-v4-50-filled, .p-reviews .p-w-r .pr-snippet .pr-snippet-stars-png .pr-star-v4-75-filled {
	margin-right: -4px !important;
}
	.p-reviews .p-w-r .pr-snippet-stars-reco-inline .pr-snippet-stars-reco-stars .pr-snippet {
		display: flex
;
    flex-direction: column;
    gap: 5px;
	}
	.p-reviews .p-w-r .pr-snippet-stars-reco-inline.pr-snippet-minimal .pr-snippet-read-and-write a {
		margin: 0 !important;
	}
	.p-reviews .pr-snippet-stars-reco-inline .pr-snippet-read-and-write, .p-reviews .p-w-r .pr-snippet-stars-reco-inline.pr-snippet-minimal .pr-snippet-read-and-write {
		margin: 0 !important;
	}
}


.pr-star-v4-100-filled {
    background-image: url(https://cdn.roundhouseprovisions.com/wp-content/uploads/2025/04/Star-ratingfull.svg) !important;
    background-size: contain;
    background-repeat: no-repeat;
}

.pr-star-v4-75-filled {
    background-image: url(https://cdn.roundhouseprovisions.com/wp-content/uploads/2025/04/Star-rating0.75-stars.svg) !important;
    background-size: contain;
    background-repeat: no-repeat;
}

.pr-star-v4-50-filled {
    background-image: url(https://cdn.roundhouseprovisions.com/wp-content/uploads/2025/04/Star-rating0.5-stars.svg) !important;
    background-size: contain;
    background-repeat: no-repeat;
}

.pr-star-v4-25-filled {
    background-image: url(https://cdn.roundhouseprovisions.com/wp-content/uploads/2025/04/Star-rating0.25-stars.svg) !important;
    background-size: contain;
    background-repeat: no-repeat;
}

.pr-star-v4-0-filled {
    background-image: url(https://cdn.roundhouseprovisions.com/wp-content/uploads/2025/04/Star-ratingempty.svg) !important;
    background-size: contain;
    background-repeat: no-repeat;
}

/* */

.p-w-r .pr-snippet-stars-reco-inline .pr-snippet-stars-reco-stars .pr-snippet, .p-w-r .pr-snippet-read-and-write {
	display: flex;
	align-items: center;
	margin: 5px 0px 5px 0px;
}

.p-w-r .pr-snippet .pr-snippet-stars-png {
	background: transparent;
}

.pr-star-v4.pr-star-v4-100-filled, .pr-star-v4.pr-star-v4-0-filled {
	margin-right: 5px !important;
}

.p-w-r .pr-snippet-stars {
	background-color: transparent !important;
}

.p-w-r .pr-snippet .pr-snippet-stars-png .pr-snippet-rating-decimal {
	margin-left: 12px !important;
}

.p-w-r a {
	color: #F58C1C !important;
}

.p-w-r .pr-snippet-rating-decimal {
	border: none !important;
}

.pr-snippet-read-and-write {
	margin-top: 0 !important;
}

.p-w-r .pr-snippet-review-count {
	padding: 0 13px !important;
	color: #CE3510 !important;
	text-decoration: none !important;
}

.p-w-r .pr-snippet-stars-reco-inline.pr-snippet-compact .pr-snippet-read-and-write, .p-w-r .pr-snippet-stars-reco-inline.pr-snippet-compact .pr-snippet-stars-reco-reco, .p-w-r .pr-snippet-stars-reco-inline.pr-snippet-minimal .pr-snippet-read-and-write, .p-w-r .pr-snippet-stars-reco-inline.pr-snippet-minimal .pr-snippet-stars-reco-reco {
	margin-top: 5px !important;
}

.p-w-r .pr-snippet-stars-reco-inline.pr-snippet-compact .pr-snippet-read-and-write a, .p-w-r .pr-snippet-stars-reco-inline.pr-snippet-minimal .pr-snippet-read-and-write a {
	color: #CE3510 !important;
}

/* CUSTOMER REVIEWS */

.p-w-r .pr-review-snapshot.pr-review-enhanced .pr-review-snapshot-header .pr-review-snapshot-header-intro {
	justify-content: right !important;
}

.p-w-r .pr-review-snapshot.pr-review-enhanced .pr-review-snapshot-header .pr-review-snapshot-header-intro .pr-headline {
	display: none;
}

.p-w-r .pr-review-snapshot.pr-review-enhanced .pr-review-snapshot-header .pr-review-snapshot-header-intro .pr-headline {
	font-family: 'Antonio';
	color: #443B32;
	content: 'Reviews' !important;
}

.p-w-r.p-w-r .pr-review-snapshot .pr-review-snapshot-simple .pr-review-snapshot-snippets .pr-snippet-read-and-write a {
	background-color: #CE3510;
	transition: 0.3s;
	border: none;
	font-family: 'Barlow';
	font-size: 20px;
	text-transform: uppercase;
	line-height: 28px;
	letter-spacing: 1px;
	border-radius: 8px;
	color: white !important;
}

.p-w-r.p-w-r .pr-review-snapshot .pr-review-snapshot-simple .pr-review-snapshot-snippets .pr-snippet-read-and-write a:hover {
	background-color: #9A2E14;
	color: white;
}

.p-w-r .pr-snippet .pr-snippet-stars-png .pr-star, .p-w-r .pr-snippet .pr-snippet-stars-png .pr-star-accessible-0-filled, .p-w-r .pr-snippet .pr-snippet-stars-png .pr-star-accessible-100-filled, .p-w-r .pr-snippet .pr-snippet-stars-png .pr-star-accessible-25-filled, .p-w-r .pr-snippet .pr-snippet-stars-png .pr-star-accessible-50-filled, .p-w-r .pr-snippet .pr-snippet-stars-png .pr-star-accessible-75-filled, .p-w-r .pr-snippet .pr-snippet-stars-png .pr-star-half, .p-w-r .pr-snippet .pr-snippet-stars-png .pr-star-selected, .p-w-r .pr-snippet .pr-snippet-stars-png .pr-star-v4, .p-w-r .pr-snippet .pr-snippet-stars-png .pr-star-v4-0-filled, .p-w-r .pr-snippet .pr-snippet-stars-png .pr-star-v4-100-filled, .p-w-r .pr-snippet .pr-snippet-stars-png .pr-star-v4-25-filled, .p-w-r .pr-snippet .pr-snippet-stars-png .pr-star-v4-50-filled, .p-w-r .pr-snippet .pr-snippet-stars-png .pr-star-v4-75-filled {
	margin-right: 4px !important;
}

.p-w-r .pr-review-snapshot .pr-review-snapshot-simple .pr-snippet-reco-to-friend-green {
	background-color: #97DEF8 !important;
	border-radius: 8px;
}

.p-w-r .pr-review-snapshot .pr-review-snapshot-simple .pr-snippet-reco-to-friend-green circle {
	fill: #064760 !important;
}

.p-w-r .pr-review-snapshot .pr-review-snapshot-simple .pr-reco span {
	color: #064760 !important;
}

.p-w-r .pr-read-review .pr-rd-main-header-with-filters .pr-rd-search-container .pr-rd-search-reviews-input .pr-rd-search-reviews-icon-button, .p-w-r .pr-review-display .pr-rd-main-header-with-filters .pr-rd-search-container .pr-rd-search-reviews-input .pr-rd-search-reviews-icon-button {
	background-color: #CE3510 !important;
	border-radius: 2px;
	border: none;
}

.p-w-r .pr-read-review .pr-rd-main-header-with-filters .pr-rd-search-container .pr-rd-search-reviews-icon-button svg, .p-w-r .pr-review-display .pr-rd-main-header-with-filters .pr-rd-search-container .pr-rd-search-reviews-icon-button svg {
	margin-top: 6px !important;
}

.p-w-r .pr-helpful-btn {
	border: none !important;
}

.p-w-r .pr-read-review.pr-rd-display-desktop .pr-helpful-btn, .p-w-r .pr-read-review.pr-rd-display-tablet .pr-helpful-btn, .p-w-r .pr-review-display.pr-rd-display-desktop .pr-helpful-btn, .p-w-r .pr-review-display.pr-rd-display-tablet .pr-helpful-btn:hover span {
	color: #CE3510 !important;
}

.p-w-r .pr-rd-flag-review-btn {
	color: #CE3510 !important;
	padding: 2px 8px !important;
	text-decoration: none !important;
}

.p-w-r .pr-rd-flag-review-btn:hover {
	background-color: #9A2E14 !important;
	color: white !important;
}

.p-w-r .pr-read-review .pr-rd-main-footer-vertical-pagination .pr-rd-to-top, .p-w-r .pr-review-display .pr-rd-main-footer-vertical-pagination .pr-rd-to-top {
	color: #443B32 !important;
}

.p-w-r .pr-btn {
	border: 1px solid !important;
	border-radius: 8px !important;
}

.p-w-r .pr-btn:hover {
	background-color: #97DEF8 !important;
}

.p-w-r .pr-read-review a, .p-w-r .pr-review-display a {
	font-family: Barlow;
	text-transform: uppercase;
	font-size: 16px;
	color: #CE3510 !important;
	border: 2px solid !important;
	padding: 14px 40px !important;
	border-color: #CE3510 !important;
	border-radius: 12px !important;
	transition: 0.2s !important;
}

.p-w-r .pr-read-review a, .p-w-r .pr-review-display a:hover {
	border-color: #9A2E14 !important;
	text-decoration: none;
	color: #9A2E14 !important;
}

@media only screen and (max-width: 767px) {
	.p-w-r .pr-read-review a, .p-w-r .pr-review-display a {
		padding: 10px 14px !important;
	}
}

/* What's Inside Toggle & FAQ Toggle */

.supp-facts-single .elementor-toggle-item:last-child .elementor-tab-title, .supp-facts-single .elementor-toggle-item:last-child .elementor-tab-content {
	border: none;
}

.supp-facts-single .elementor-toggle .elementor-tab-title .elementor-toggle-icon .elementor-toggle-icon-closed {
	margin-top: 10px;
}

/* Image Boxes (Emergency Food Supply Kit) */

.meal-image-box .elementor-widget-container {
	background-color: var(--e-global-color-90f86b5);
}

.meal-image-box .elementor-image-box-title, .meal-image-box .elementor-image-box-description {
	padding: 0 15px 0 15px;
}

.meal-image-box .elementor-image-box-img img {
	border-radius: 8px 8px 0px 0px;
}


/* Emergency Food Supply */

.customer-reviews-ratings-box {
	text-align: center; 
}

.customer-reviews-ratings-box .elementor-testimonial__name {
	margin-bottom: 10px;
}

.customer-reviews-ratings-box .elementor-testimonial__cite {
	width: 100%;
}

.customer-reviews-ratings-box .elementor-testimonial__icon .elementor-icon .elementor-icon- {
	display: none;
}

/* Emergency Food Supply Kit */

.meal-image-box .elementor-image-box-description {
	padding: 0 10px;
}



/* Nutrition Facts Label */

@media only screen and (min-width: 768px) {
	.supp-facts-single .supp-facts-ada {
		width: 50%;
	}
}

@media only screen and (min-width: 1024px) {
	.supp-facts-single .supp-facts-ada {
		width: 33%;
	}
}

.supp-facts-single .supp-facts-ada {
	margin-top: 20px;
	margin-bottom: 60px;
}

/*.supp-facts-single p {
	margin-top: -20px;
}*/

.supp-facts-single .FDA-statement {
	margin-top: 0px;
	margin-bottom: 10px;
	font-weight: 600;
	font-size: 16px;
}

.supp-facts-ada-flex {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: left;
}

.supp-facts-ada .efs-kit {
	width: 30%;
}

.supp-facts-ada {
	font-size: medium;
	line-height: 1.2;
	font-family: Open Sans, Verdana, sans-serif;
}

.supp-facts-ada-top {
	margin: 0px 0px 5px 0px;
	padding: 0 0.5rem;
}

.supp-facts-ada-border {
	border: 2px solid #483628;
	margin: 0;
	float: none;
	width: auto;
	padding: 0.5rem;
	background: transparent;
}

.supp-facts-ada-header {
	border-bottom: 10px solid #483628;
	padding: 0 0 0.25rem 0;
	margin: 0 0 0.5rem 0;
}

.supp-facts-ada-title {
	font-weight: bold;
	font-family: Open Sans, Arial Black, Arial, Verdana, sans-serif;
	font-size: 2.3rem !important;
	margin: 0 0 0.25rem 0;
	color: #483628;
}

.supp-facts-ada p {
	text-align: left;
	padding: 0 !important;
	margin-bottom: 5px;
	color: #483628;
	font-family: Open Sans, Verdana, sans-serif;
}

.supp-facts-ada-indent {
	font-weight: 400;
	margin-left: 20px;
	margin-bottom: 0px;
}

.supp-facts-no-indent {
	margin: 0;
}

.supp-facts-regular-font-weight {
	font-weight: 400;
}

.supp-facts-ada-border table {
	border-collapse: collapse;
}

.supp-facts-ada-table {
	width: 100% !important;
	border: 0 !important;
	margin: 0 !important;
}

table {
	border-spacing: 0;
}

table td, table th {
	border: none;
}

thead {
	display: table-header-group;
	vertical-align: middle;
	unicode-bidi: isolate;
	border-color: inherit;
}

.supp-facts-ada-thin-line {
	border-bottom: 6px solid #483628;
}

.supp-facts-ada-table thead tr th, .supp-facts-ada-table thead tr td {
	border: 0 !important;
}

.supp-facts-ada tr td:nth-child(2) {
	width: 20%;
	padding: 0.25rem 0 !important;
	border-top: 1px solid #483628;
	text-align: right;
}

.supp-facts-ada tr td:nth-child(3) {
	text-align: right;
	width: 20% !important;
	padding: 0.25rem 0 !important;
	border-top: 1px solid #483628;
}

tbody {
	display: table-row-group;
	vertical-align: middle;
	unicode-bidi: isolate;
	border-color: inherit;
	background: transparent;
}

tr {
	display: table-row;
	vertical-align: inherit;
	unicode-bidi: isolate;
	border-color: inherit;
}

.supp-facts-ada tr th {
	width: 60%;
	text-align: left;
	padding: 0.25rem 0 !important;
	padding-right: 4% !important;
	border-top: 1px solid #483628;
}

table tbody>tr:nth-child(odd)>th {
	background: transparent;
}

table tbody>tr:nth-child(odd)>td {
	background: transparent;
}

table tbody tr:hover>th {
	background-color: transparent;
}

table tbody tr:hover>td {
	background-color: transparent;
}


/* TEMPLATES */


/* Section - Money-Back Guarantee - ALL TEMPLATES */

.money-back-guarantee-image-box .elementor-image-box-title {
	margin-top: -40px;
}

@media only screen and (max-width: 767px) {
	.money-back-guarantee-image-box .elementor-image-box-title {
		margin-top: 0px;
	}
}


/* Section - Reviews Carousel */

.reviews-carousel {
	position: relative;
}

.reviews-carousel .premium-carousel-nav-dot {
	display: none;
}

.reviews-carousel a.carousel-arrow {
	position: absolute;
	top: -7.3%; /* Initial top value */
	border: none;
	margin-top: 0px !important; 
}


.reviews-carousel a.carousel-arrow.carousel-next {
	right: 515px;
}

.reviews-carousel a.carousel-arrow.carousel-prev {
	left: 515px;
}


@media only screen and (max-width: 1366px) {
	.reviews-carousel a.carousel-arrow.carousel-next {
		right: 43.5%;
	}

	.reviews-carousel a.carousel-arrow.carousel-prev {
		left: 43.5%;
	}
}

@media only screen and (max-width: 1024px) {
	.reviews-carousel a.carousel-arrow.carousel-next {
		right: 41%;
	}

	.reviews-carousel a.carousel-arrow.carousel-prev {
		left: 41%;
	}
}

@media only screen and (max-width: 767px) {
	.reviews-carousel a.carousel-arrow.carousel-next {
		right: 25%;
	}

	.reviews-carousel a.carousel-arrow.carousel-prev {
		left: 25%;
	}
}

/* GHM Mini OS */

.shop-all-grid .ghm-mini-offer-selector .product-variant-container {
	display: none !important;
}

body .shop-all-grid .ghm-mini-offer-selector .product-option .login-container {
	display: grid !important;
}

.shop-all-grid .ghm-mini-offer-selector .product-option {
	justify-items: center !important;
	gap: 13px !important;
}

@media screen and (max-width: 767px) {
	.shop-all-grid .ghm-mini-offer-selector .product-option {
		display: flex !important;
		flex-direction: column !important;
	}
}

.shop-all-grid .ghm-mini-offer-selector .product-option .current-product-info-container p.price-container {
	text-align: center !important;
	font-weight: 500;
}

.shop-all-grid .ghm-mini-offer-selector .product-option .current-product-info-container .savings-container {
	display: none !important;
}

.shop-all-grid .ghm-mini-offer-selector .product-option .add-to-cart-container {
	padding: 10px !important;
	background-color: #CE3510 !important;
	border-radius: 4px !important;
	transition: all 200ms;
}

.shop-all-grid .ghm-mini-offer-selector .product-option .add-to-cart-container:hover {
	background-color: #9A2E14 !important;
}

.shop-all-grid .ghm-mini-offer-selector .product-option .add-to-cart-container a.add-to-cart-btn {
	color: #fff !important;
	text-decoration: none !important;
	width: 244px;
	padding: 10px !important;
	background-color: #CE3510 !important;
	transition: all 200ms;
}

.shop-all-grid .ghm-mini-offer-selector .product-option .add-to-cart-container a.add-to-cart-btn:hover {
	background-color: #9A2E14 !important;
}

.shop-all-grid .ghm-mini-offer-selector .product-option .add-to-cart-container a.add-to-cart-btn::before {
	content: '';
    display: inline-block;
    width: 14px;
    height: 14px;
    background: url('https://cdn.roundhouseprovisions.com/wp-content/uploads/2025/03/cart.svg') no-repeat center center;
    background-size: contain;
    margin-right: 12px;
	color: #fff !important;
}

.shop-all-grid .ghm-mini-offer-selector .product-option {
	grid-template-areas:
    "price price"
    "quantity quantity"
    "login login"
    "addtocart addtocart";
}

.shop-all-grid .ghm-mini-offer-selector .product-option .login-container {
  grid-area: login !important;
}

.shop-all-grid .ghm-mini-offer-selector .product-option .add-to-cart-container {
  grid-area: addtocart;
}

.shop-all-grid .ghm-mini-offer-selector .product-option .out-of-stock-container {
	order: 3 !important;
}

@media screen and (max-width: 767px) {
	.shop-all-grid .ghm-mini-offer-selector .product-option .login-container {
		order: 1 !important;
	}
	.shop-all-grid .ghm-mini-offer-selector .product-option .add-to-cart-container {
		order: 2 !important;
	}
}

.shop-all-grid  .ghm-mini-offer-selector .product-option .add-to-cart-container {
	padding: 0px !important;
	width: 244px;
	margin-top: 9px !important;
}
.shop-all-grid .ghm-mini-offer-selector .product-option .quantity-select-container {
	width: 100px;
}

.shop-all-grid .ghm-mini-offer-selector .product-option .out-of-stock-container {
	margin-top: 13px !important;
}

@media only screen and (max-width: 767px) {
	.shop-all-grid .ghm-mini-offer-selector .product-option .add-to-cart-container {
		width: 138px !important;
	}
	.shop-all-grid .ghm-mini-offer-selector .product-option .add-to-cart-container a.add-to-cart-btn {
		width: 138px !important;
	}
	
	.shop-all-grid .ghm-mini-offer-selector .product-option .add-to-cart-container a.add-to-cart-btn::before {
	    display: none !important;
	}
	
	body .shop-all-grid .ghm-mini-offer-selector .product-option .login-container a {
		font-size: 13px;
	}
	
	body .shop-all-grid .ghm-mini-offer-selector .product-option .login-container {
		font-size: 13px;
	}
	
	.shop-all-grid .ghm-mini-offer-selector .product-option .out-of-stock-container span {
		font-size: 13px;
	}
	
	.shop-all-grid .ghm-mini-offer-selector .product-option .out-of-stock-container {
		padding: 10px !important;
		width: 138px;
		border-radius: 4px;
	}
}

.ghm-mini-offer-selector .product-variant-container {
	display: none !important;
}

/*

.shop-all-grid .ghm-mini-offer-selector .product-option[data-family-name="roundhouse_provisions__vita_kick"] {
  display: none !important;
}

.ghm-mini-offer-selector .product-option .quantity-select-container input[type="number"],
.ghm-mini-offer-selector .product-option .quantity-select-container .quantity-selector-btn {
	background-color: #ffffff !important;
}
.ghm-mini-offer-selector .product-option .quantity-select-container .quantity-selector-btn {
	border-radius: 0 !important;
}

.ghm-mini-offer-selector .product-option .current-product-info-container .price-container {
	text-align: left !important;
}

.ghm-mini-offer-selector .product-option .quantity-select-container {
	overflow: hidden;
}

*/

/* .ghm-offer-selector {
	display: flex;
	flex-direction: column;
	align-items: stretch;
}

.ghm-offer-selector .purchase-type-options {
	width: 100%;
}

*/

/* END OF CUSTOM CSS */

/* ASPIRE WRAPPER */
.aspire-wrapper {
z-index: 99999;
}

:root {
	--aspire-wrapper-bg: #443B32;
}
.aspire-wrapper p {
	margin-bottom: 0 !important;
}