
    .logged-in-hero-os-container-mobile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 20px;
    background-color: #f6f2ee;
    border: 3px solid #dfd3c8;
    border-radius: 8px;
    box-shadow: 0px -10px 20px 0px rgba(0, 0, 0, 0.75);
    gap: 20px;
}

.logged-in-hero-os-container-mobile .logged-in-product-image-container-mobile {
    flex-shrink: 0;
}

.logged-in-hero-os-container-mobile p {
    margin: 0;
}

.logged-in-product-image-container-mobile {
    align-self: center;
}

.logged-in-product-image-container-mobile img {
    display: block;
    max-width: 217px;
    width: 100%;
    height: auto;
}

.logged-in-os-container-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;
}

.logged-in-os-container-mobile p {
    background-color: #DFD3C8;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.4;
    text-align: center;
    padding: 5px 10px;
    border-radius: 0px 0px 4px 4px;
    text-transform: uppercase;
}

.logged-in-os-container-mobile .logged-in-radio_list_mobile {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 21px;
}

.logged-in-os-container-mobile .logged-in-radiobox_mobile input[type="radio"] {
    display: none;
}

.logged-in-os-container-mobile .logged-in-radiobox_mobile label {
    display: block;
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #9A2E14;
    background-color: #FEDCD4;
    cursor: pointer;
    width: 91px;
    border: 3px solid #F6F2EE;
}

.logged-in-os-container-mobile .logged-in-radiobox_mobile label:hover {
    transition: 200ms;
    background-color: #9A2E14;
    color: #F6F2EE;
    border: 3px solid #FB7C5E;
}

.logged-in-os-container-mobile .logged-in-radiobox_mobile input[type="radio"]:checked + label {
    background-color: #9A2E14;
    border: 3px solid #FB7C5E;
    color: #F6F2EE;
}

.logged-in-os-container-mobile #logged-in-buy_now_mobile {
    display: block;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.25;
    letter-spacing: 1px;
    text-align: center;
    text-transform: uppercase;
    padding: 8px 20px;
    border-radius: 8px;
    color: #F6F2EE;
    background: linear-gradient(166deg, rgba(255, 255, 255, 0.03) 9.1%, rgba(255, 255, 255, 0.23) 50.65%, rgba(255, 255, 255, 0.03) 96.42%), var(--Color-brand1-600-brand1, #EE5531);
    transition: 200ms;
}

.logged-in-os-container-mobile #logged-in-buy_now_mobile:hover {
    background: #9A2E14;
}

.logged-in-price-container-mobile {
    align-self: center;
    text-align: center;
    color: #443B32;
}

.logged-in-price-container-mobile #logged-in-instant-savings-mobile,
.logged-in-price-container-mobile #logged-in-regular-price-mobile {
    font-size: 20px;
    font-weight: 600;
    line-height: 1.4;
}

.logged-in-price-container-mobile #logged-in-instant-savings-mobile {
    color: #EE5531;
}

.logged-in-price-container-mobile #logged-in-price_amount_mobile {
    font-size: 54px;
    font-weight: 700;
    line-height: 1;
    margin-top: 13px;
    margin-bottom: 13px;
}

.logged-in-price-container-mobile #logged-in-payment-text-mobile {
    font-size: 16px;
    font-weight: 600;
    line-height: 1.5;
    margin-bottom: 20px;
}

.logged-in-callout-box-mobile {
    align-self: center;
    background-color: #b2e6f9;
    border-radius: 4px;
    text-align: center;
    color: #064760;
    overflow: hidden;
    padding-bottom: 10px;
}

.logged-in-callout-box-mobile > span {
    display: block;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.5;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #064760;
    width: 100%;
}

.logged-in-callout-box-mobile p {
    font-size: 16px;
    font-weight: 600;
    line-height: 1.5;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
}

.logged-in-callout-box-mobile .logged-in-login-signup-mobile {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
}

.logged-in-callout-box-mobile p #logged-in-callout-box-price-mobile {
    font-size: 40px;
    letter-spacing: -1px;
}

.logged-in-callout-box-mobile #logged-in-login-mobile {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
    text-decoration: underline;
    color: #064760;
}

.logged-in-callout-box-mobile #logged-in-signup-mobile {
    display: inline-block;
    border-radius: 4px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
    color: #ffffff;
    background-color: #064760;
    padding: 3px 7px;
}

@media screen and (max-width: 1110px) {
    .logged-in-hero-os-container-mobile {
        padding-left: 20px;
        padding-right: 20px;
    }
}

/*

@media screen and (max-width: 1024px) {
    .logged-in-product-image-container-mobile,
    .logged-in-os-container-mobile,
    .logged-in-price-container-mobile,
    .logged-in-callout-box-mobile {
        width: 50%;
        justify-items: center;
        align-content: center;
        align-items: center;
    }
    .logged-in-hero-os-container-mobile {
        padding-top: 20px;
        flex-direction: column;
        align-content: center;
        justify-content: center;
    }
}

*/

@media screen and (max-width: 1024px) {
    .logged-in-hero-os-container-mobile {
        flex-direction: column;
    }
    .logged-in-product-image-container-mobile img, .logged-in-os-container-mobile, .logged-in-price-container-mobile, .logged-in-callout-box-mobile {
        width: 100%;
    }
}

